body {
	background: 
		url(../images/background_footer.png) center bottom no-repeat, 
		url(../images/background_short_sliced.png) center top no-repeat, 
		url(../images/background_slice.png) center top repeat-y; 
	background-size: 100% auto;
	padding: 2em;
}

article {
	border: black;
	border-width: thin;
	border-radius: 1em;
	border-style: dashed;
	background-color: rgba(255, 255, 255, 0.85);
	box-shadow: 0.5em 0.5em 0.5em 0.5em;
	padding: 1em;
}

aside#secondary {
	padding: 1em;
}

a:link {color:#C00F4B;}      /* unvisited link */
a:visited {color:#C00F4B;}  /* visited link */
a:hover {color:#FF0008;}  /* mouse over link */
a:active {color:#FF0008;}  /* selected link */

/* Menus */

ul.sub-menu {
	background:white;
	border: black;
	border: thin solid black
}

li.menu-item:hover {
	background:black;
}

li.menu-item:hover a:hover {
	color:white
}
