body {
	background: 
		url(../images/background_footer.png) center bottom no-repeat, 
		url(../images/background_short_sliced.png) center top no-repeat, 
		url(../images/background_slice.png) center top repeat-y; 
	background-size: 100% auto;
}

header {
	padding: 1em;
	margin: 1em;
}

article {
	border: black;
	border-width: thin;
	border-radius: 1em;
	border-style: dashed;
	background-color: rgba(255, 255, 255, 0.85);
	box-shadow: 0.25em 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);
	padding: 1em;
	margin: 1em;
}

.post, .page {
	margin: 1em;
}

a:link {color:#C00F4B;}      /* unvisited link */
a:visited {color:#C00F4B;}  /* visited link */
a:hover {color:#FF0008;}  /* mouse over link */
a:active {color:#FF0008;}  /* selected link */

img.custom-logo {
	width: 160px;
}

/* Menus */

nav.main-navigation {
	width:auto;
}

nav.main-navigation li.menu-item {
	margin-right: 0.75em;
	margin-left: 0.75em;
}

.main-navigation.toggled {
	width:100%;
}

.main-navigation.toggled .menu-primary-menu-container {
	box-shadow: 0.25em 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.85);
	border: black;
	border: thin solid black;
	width:100%;
}

li.menu-item:hover a:hover {
	text-decoration: underline;
}

.main-navigation li {
	float: none;
	position: static;
}

.main-navigation ul ul {
	box-shadow: none;
	float: none;
	position: static;
	z-index: auto;
}   

button.menu-toggle {
	background-color: rgba(255, 255, 255, 0.85);
	border: thick solid black;
	border-radius: 0;
	font-size: 1.25em;
	padding:0.25em;
}

button.menu-toggle { color:#C00F4B; }
button.menu-toggle:hover {color:#FF0008;}  /* mouse over link */
button.menu-toggle:active {color:#FF0008;}  /* selected link */

button.menu-toggle::after {
	content: " \2630";
}

.main-navigation.toggled button.menu-toggle {
	color: white;
	background: black;
} 

.main-navigation.toggled button.menu-toggle::after {
	content: " \2169";
}

