@media screen and (min-width: 37.5em) {

	img.custom-logo {
		width: auto;
	}

	header, footer, div#content {
		margin:1.5em;
	}


	nav.main-navigation, nav.main-navigation.toggled {
		border: black;
		border-width: thin;
		border-radius: 1em;
		border-style: dashed;
		background-color: rgba(255, 255, 255, 0.85);
		box-shadow: 0.25em 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);
        	width:auto;
		padding: 1em;
	}

	.main-navigation.toggled .menu-primary-menu-container {
		box-shadow: none;
		border: none;
		width:auto;
	}

	.main-navigation li {
        	float: left;
		position: relative;
		margin-right: 2em;
	}

	.main-navigation.toggled ul {
		margin-left: 0;
		margin-right: 0;
	}

	.main-navigation ul ul {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;
	}

	ul.sub-menu,  .main-navigation.toggled {
		background:white;
		border: black;
		border: thin solid black
	}

	.has-logo.menu-item a {
		color: rgba(255, 255, 255, 0);
	}

	.has-logo.menu-item {
		background-size: contain; 
		padding-left: 0;
		height:1.75em;
		width: 1.75em;
	}

	.openairorchestra.has-logo.menu-item {
		padding-left:0;
		width:4.5em;
	}

	.carnivalband.has-logo.menu-item {
		padding-left: 0;
		width: 4.5em;
	}

	.youtube.has-logo.menu-item {
		background-image: url(../images/youtube.png);
		padding-left: 0;
		width: 4.5em;
	}
}
